node_modules/
dist/

files/
files/*

tools/
tools/*

todo/
todo/*

.vscode/extensions.json
.vscode/settings.json
.code*/*

tests/
tests/*

*.kdbx
*.psafe3
*.ibak
*.plk
*.log
.DS_Store

/src/buildInfo.ts
