.vscode/**
.devcontainer/**


src/**
test/**
tests/**
coverage/**
files/**
scripts/**

**/*.ts
**/*.map

*-code-dump.txt
tsconfig.json
package-lock.json

tools/
todo/

files/*
.env
.env.*
tests/
tests/*

.git/**
.github/**
.gitignore

node_modules/**/.vscode/**
node_modules/**/src/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/tsconfig.json
node_modules/**/rollup.config.*
node_modules/**/jest.config.*
node_modules/**/biome.json
node_modules/**/.eslintrc*
node_modules/**/*.yml
node_modules/**/*.yaml
node_modules/**/CHANGELOG.md
node_modules/**/README.md
node_modules/**/readme.md
node_modules/**/release-notes.md

node_modules/@vscode/codicons/**
